.nav-link {
    transition: transform 0.3s ease;
  }

  .nav-link:hover {
    transform: translateY(-5px);
  }

  /* Corrected CSS for submenu visibility with a fade-out effect */
  .submenu {
    transition: opacity 0.5s linear;
    opacity: 0;
    display: none; /* Initially hidden */
  }

  .group:hover .submenu {
    display: block; /* Make sure to display the block before fading in */
    opacity: 1;
    transition-delay: 0s;
  }

  /* Additional handling for delayed hide might require JavaScript for smoother experience */
  .hover-grow {
    transition: font-size 0.3s ease;
  }
  .hover-grow:hover {
    font-size: 1.25rem; /* Adjust based on your preferred size */
  }
